.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% auto;
  height: 100%;
  text-align: center;
}

.title {
  color: #444;
  grid-row: 1;
  justify-self: stretch;
}

.counter {
  align-self: center;
  color: #444;
  grid-row: 2;
  justify-self: stretch;
}

.display-value {
  font-size: 4rem;
}

.symbol {
  font-size: 3.5rem;
  grid-row: 2;
  justify-self: stretch;
  opacity: 0;
  position: absolute;
  transition: transform .25s ease-out, opacity .15s ease-in-out;
}

.is-ticking.increasing .symbol.plus,
.is-ticking.decreasing .symbol.minus {
  opacity: 1;
  transform: translate(-40px, 0);
}
