.container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%;
  height: 100%;
}

.component-list {
  background: #f8f8f8;
  box-shadow: inset -5px 0 10px -4px rgba(0,0,0,0.12);
  grid-column: 1;
  grid-row: 1;
}

.component-display {
  grid-column: 2;
  grid-row: 1;
}
