<div class="container">
  <sw-counter class="counter" [title]="'Total Events'" [value]="totalActivities" [duration]="2000"></sw-counter>
  <sw-counter class="counter" [title]="'Avg. Injuries Per'" [value]="avgInjuries" [duration]="2000"></sw-counter>
  <sw-counter class="counter" [title]="'Total Injuries'" [value]="totalInjuries" [duration]="2000"></sw-counter>
  <sw-counter class="counter" [title]="'Avg. Deaths Per'" [value]="avgDeaths" [duration]="2000"></sw-counter>
  <sw-counter class="counter" [title]="'Total Deaths'" [value]="totalDeaths" [duration]="2000"></sw-counter>

  <!--<div>-->
    <!--<sw-activity-list [activities]="activities"></sw-activity-list>-->
  <!--</div>-->

  <sw-pie-chart [data]="data"></sw-pie-chart>
</div>
