ul {
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid #000;
  display: inline-block;
  padding: 15px;
}

.location {
  display: inline-block;
}

.date {
 display: inline-block;
}
