<div class="container">
  <saw-counter class="counter" [title]="'Total Events'" [value]="totalActivities" [duration]="2000"></saw-counter>
  <saw-counter class="counter" [title]="'Avg. Injuries Per'" [value]="avgInjuries" [duration]="2000"></saw-counter>
  <saw-counter class="counter" [title]="'Total Injuries'" [value]="totalInjuries" [duration]="2000"></saw-counter>
  <saw-counter class="counter" [title]="'Avg. Deaths Per'" [value]="avgDeaths" [duration]="2000"></saw-counter>
  <saw-counter class="counter" [title]="'Total Deaths'" [value]="totalDeaths" [duration]="2000"></saw-counter>
</div>
