@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

* {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

body, html {
  background: linear-gradient(37deg, #1b2b42 0%, #105879 300%);
  height: 100%;
  margin: 0;
}

a {
  cursor: pointer;
}

