.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% auto;
  height: 100%;
  text-align: center;
}

.title {
  color: #ca9f5b;
  font-weight: 600;
  grid-row: 1;
  justify-self: stretch;
}

.counter {
  align-self: center;
  font-weight: lighter;
  grid-row: 2;
  justify-self: stretch;
}

.display-value {
  color: #e2e5f1;
  font-size: 4rem;
}

.symbol {
  font-size: 3.5rem;
  grid-row: 2;
  opacity: 0;
  position: absolute;
  transition: transform .15s ease-in, opacity .15s ease-in;
}

.symbol.plus {
  color: #44b058;
}

.symbol.minus {
  color: #ca3f30;
}

.is-increasing .symbol.plus,
.is-decreasing .symbol.minus {
  opacity: 1;
  transform: translate(-40px, 0);
}
